<div class="well well-lg hidden-xs">
    <h3>JBone系统列表:</h3>
    <ul class="list-group">
        <!--<li class="list-group-item">-->
            <!--<a href="http" >-->
                <!--<i class="fa fa-cogs"></i> [[#{cas.login.resources.dashboard}]]-->
            <!--</a>-->
        <!--</li>-->
        <li class="list-group-item">
            <a href="http://jbone-sm-monitor.majunwei.com:10003/" >
                <i class="fa fa-cogs"></i> Jbone监控系统
            </a>
        </li>
        <li class="list-group-item">
            <a href="http://jbone-sm-admin.majunwei.com:10002/" >
                <i class="fa fa-cogs"></i> Jbone服务管理系统
            </a>
        </li>

        <li class="list-group-item">
            <a href="http://jbone-cas-manager.majunwei.com:30002/" >
                <i class="fa fa-cogs"></i> Jbone CAS管理
            </a>
        </li>

        <li class="list-group-item">
            <a href="http://jbone-sys-admin.majunwei.com:20002/" >
                <i class="fa fa-cogs"></i> Jbone系统管理
            </a>
        </li>

    </ul>
</div>
