<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Jbone | 个人资料</title>
    <!-- Tell the browser to be responsive to screen width -->
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
    <div th:replace="/layout/css :: #css"></div>



    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon" />

</head>
<body>
<div class="row">
    <div th:replace="layout/header"></div>
</div>
<div class="row container">
    <div class="col-md-3">
        <div th:replace="layout/left"></div>
    </div>
    <div class="col-md-9">
    </div>
</div>

<div th:replace="layout/footer"></div>

<div th:replace="/layout/js :: #js"></div>

</body>
</html>

