<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
    <!-- Footer start -->
    <section id="copyright" class="copyright angle" th:fragment="copyright">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <ul class="footer-social unstyled">
                        <li>
                            <a title="Twitter" href="#">
                                <span class="icon-pentagon wow bounceIn"><i class="fa fa-twitter"></i></span>
                            </a>
                            <a title="Facebook" href="#">
                                <span class="icon-pentagon wow bounceIn"><i class="fa fa-facebook"></i></span>
                            </a>
                            <a title="Google+" href="#">
                                <span class="icon-pentagon wow bounceIn"><i class="fa fa-google-plus"></i></span>
                            </a>
                            <a title="linkedin" href="#">
                                <span class="icon-pentagon wow bounceIn"><i class="fa fa-linkedin"></i></span>
                            </a>
                            <a title="Pinterest" href="#">
                                <span class="icon-pentagon wow bounceIn"><i class="fa fa-pinterest"></i></span>
                            </a>
                            <a title="Skype" href="#">
                                <span class="icon-pentagon wow bounceIn"><i class="fa fa-skype"></i></span>
                            </a>
                            <a title="Dribble" href="#">
                                <span class="icon-pentagon wow bounceIn"><i class="fa fa-dribbble"></i></span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div><!--/ Row end -->
            <div class="row">
                <div class="col-md-12 text-center">
                    <div class="copyright-info">
                        &copy; Copyright 2019 Themefisher. <span>Designed by <a href="https://themefisher.com">Themefisher.com</a></span>
                    </div>
                </div>
            </div><!--/ Row end -->
            <div id="back-to-top" data-spy="affix" data-offset-top="10" class="back-to-top affix">
                <button class="btn btn-primary" title="Back to Top"><i class="fa fa-angle-double-up"></i></button>
            </div>
        </div><!--/ Container end -->
    </section><!--/ Footer end -->


    <!-- Footer start -->
    <footer id="footer" class="footer" th:fragment="footer">
        <div class="container">

            <div class="row">
                <div class="col-md-4 col-sm-12 footer-widget">
                    <h3 class="widget-title">Recent Posts</h3>

                    <div class="latest-post-items media">
                        <div class="latest-post-content media-body">
                            <h4><a href="#">Bulgaria claims to find Europe's 'oldest town'</a></h4>
                            <p class="post-meta">
                                <span class="author">Posted by John Doe</span>
                                <span class="post-meta-cat">in<a href="#"> Blog</a></span>
                            </p>
                        </div>
                    </div><!-- 1st Latest Post end -->

                    <div class="latest-post-items media">
                        <div class="latest-post-content media-body">
                            <h4><a href="#">Few Answers in Case of Murdered Law Professor</a></h4>
                            <p class="post-meta">
                                <span class="date"><i class="icon icon-calendar"></i> Mar 15, 2015</span>
                                <span class="post-meta-comments"><i class="icon icon-bubbles4"></i> <a href="#">03</a></span>
                            </p>
                        </div>
                    </div><!-- 2nd Latest Post end -->

                    <div class="latest-post-items media">
                        <div class="latest-post-content media-body">
                            <h4><a href="#">Over the year we have lots of experience in our field</a></h4>
                            <p class="post-meta">
                                <span class="date"><i class="icon icon-calendar"></i> Apr 17, 2015</span>
                                <span class="post-meta-comments"><i class="icon icon-bubbles4"></i> <a href="#">14</a></span>
                            </p>
                        </div>
                    </div><!-- 3rd Latest Post end -->

                </div><!--/ End Recent Posts-->



                <div class="col-md-4 col-sm-12 footer-widget">
                    <h3 class="widget-title">Flickr Photos</h3>

                    <div class="img-gallery">
                        <div class="img-container">
                            <a class="thumb-holder" data-rel="prettyPhoto" href="images/gallery/1.jpg">
                                <img th:src="@{/project/images/gallery/1.jpg}" alt="">
                            </a>
                            <a class="thumb-holder" data-rel="prettyPhoto" href="images/gallery/2.jpg">
                                <img th:src="@{/project/images/gallery/2.jpg}" alt="">
                            </a>
                            <a class="thumb-holder" data-rel="prettyPhoto" href="images/gallery/3.jpg">
                                <img th:src="@{/project/images/gallery/3.jpg}" alt="">
                            </a>
                            <a class="thumb-holder" data-rel="prettyPhoto" href="images/gallery/4.jpg">
                                <img th:src="@{/project/images/gallery/4.jpg}" alt="">
                            </a>
                            <a class="thumb-holder" data-rel="prettyPhoto" href="images/gallery/5.jpg">
                                <img th:src="@{/project/images/gallery/5.jpg}" alt="">
                            </a>
                            <a class="thumb-holder" data-rel="prettyPhoto" href="images/gallery/6.jpg">
                                <img th:src="@{/project/images/gallery/6.jpg}" alt="">
                            </a>
                            <a class="thumb-holder" data-rel="prettyPhoto" href="images/gallery/6.jpg">
                                <img th:src="@{/project/images/gallery/7.jpg}" alt="">
                            </a>
                            <a class="thumb-holder" data-rel="prettyPhoto" href="images/gallery/6.jpg">
                                <img th:src="@{/project/images/gallery/8.jpg}" alt="">
                            </a>
                            <a class="thumb-holder" data-rel="prettyPhoto" href="images/gallery/6.jpg">
                                <img th:src="@{/project/images/gallery/9.jpg}" alt="">
                            </a>
                        </div>
                    </div>


                </div><!--/ end flickr -->

                <div class="col-md-3 col-sm-12 footer-widget footer-about-us">
                    <h3 class="widget-title">About Craft</h3>
                    <p>We are a awward winning multinational company. We believe in quality and standard worldwide.</p>
                    <h4>Address</h4>
                    <p>1102 Saint Marys, Junction City, KS</p>
                    <div class="row">
                        <div class="col-md-6">
                            <h4>Email:</h4>
                            <p>info@craftbd.com</p>
                        </div>
                        <div class="col-md-6">
                            <h4>Phone No.</h4>
                            <p>+(785) 238-4131</p>
                        </div>
                    </div>
                    <form action="#" role="form">
                        <div class="input-group subscribe">
                            <input type="email" class="form-control" placeholder="Email Address" required="">
                            <span class="input-group-addon">
                                <button class="btn" type="submit"><i class="fa fa-envelope-o"> </i></button>
                            </span>
                        </div>
                    </form>
                </div><!--/ end about us -->


            </div><!-- Row end -->
        </div><!-- Container end -->
    </footer><!-- Footer end -->
</body>
</html>
