<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>JS</title>
</head>
<body>
<div th:fragment="js">
    <!-- Javascript Files
	================================================== -->

    <!-- initialize jQuery Library -->
    <script type="text/javascript" th:src="@{/project/js/jquery.js}"></script>
    <!-- Bootstrap jQuery -->
    <script type="text/javascript" th:src="@{/project/js/bootstrap.min.js}"></script>
    <!-- Style Switcher -->
    <script type="text/javascript" th:src="@{/project/js/style-switcher.js}"></script>
    <!-- Owl Carousel -->
    <script type="text/javascript" th:src="@{/project/js/owl.carousel.js}"></script>
    <!-- PrettyPhoto -->
    <script type="text/javascript" th:src="@{/project/js/jquery.prettyPhoto.js}"></script>
    <!-- Bxslider -->
    <script type="text/javascript" th:src="@{/project/js/jquery.flexslider.js}"></script>
    <!-- CD Hero slider -->
    <script type="text/javascript" th:src="@{/project/js/cd-hero.js}"></script>
    <!-- Isotope -->
    <script type="text/javascript" th:src="@{/project/js/isotope.js}"></script>
    <script type="text/javascript" th:src="@{/project/js/ini.isotope.js}"></script>
    <!-- Wow Animation -->
    <script type="text/javascript" th:src="@{/project/js/wow.min.js}"></script>
    <!-- SmoothScroll -->
    <script type="text/javascript" th:src="@{/project/js/smoothscroll.js}"></script>
    <!-- Eeasing -->
    <script type="text/javascript" th:src="@{/project/js/jquery.easing.1.3.js}"></script>
    <!-- Counter -->
    <script type="text/javascript" th:src="@{/project/js/jquery.counterup.min.js}"></script>
    <!-- Waypoints -->
    <script type="text/javascript" th:src="@{/project/js/waypoints.min.js}"></script>
    <!-- Template custom -->
    <script type="text/javascript" th:src="@{/project/js/custom.js}"></script>

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements. All other JS at the end of file. -->
    <!--[if lt IE 9]>
    <script type="text/javascript" th:src="@{/project/js/html5shiv.js}"></script>
    <script type="text/javascript" th:src="@{/project/js/respond.min.js}"></script>
    <![endif]-->
</div>
</body>
</html>
