<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>JS</title>
</head>
<body>
<div th:fragment="css">
    <link th:href="@{css/main.css}" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" th:href="@{css/linearicons.css}" />
    <link rel="stylesheet" th:href="@{css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{css/magnific-popup.css}" />
    <link rel="stylesheet" th:href="@{css/nice-select.css}" />
    <link rel="stylesheet" th:href="@{css/animate.min.css}" />
    <link rel="stylesheet" th:href="@{css/owl.carousel.css}" />

    <link rel="stylesheet" th:href="@{css/main.css}" />
</div>
</body>
</html>