<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>JS</title>
</head>
<body>
<div id="css">
    <!-- Bootstrap core CSS -->
    <link th:href="@{vendor/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />

    <!-- Custom fonts for this template -->
    <link th:href="@{vendor/fontawesome-free/css/all.min.css}" rel="stylesheet" type="text/css" />
    <link href='https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic' rel='stylesheet' type='text/css' />
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800' rel='stylesheet' type='text/css' />

    <!-- Custom styles for this template -->
    <link th:href="@{css/cms.min.css}" rel="stylesheet" />
</div>
</body>
</html>