<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>新增系统</title>
</head>
<body>
<div th:replace="/layout/css :: #css"></div>
<div class="container-fluid" style="width: 400px;">
    <form id="createForm" method="post" class="form-horizontal modal-form">
        <div class="form-group">
            <label for="name" class="control-label">系统名</label>
            <input id="name" name="name" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label for="title" class="control-label">系统标题</label>
            <input id="title" name="title" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label for="basepath" class="control-label">根路径</label>
            <input id="basepath" name="basepath" type="text" class="form-control" />
        </div>
        <div class="form-group">
            <label  class="control-label">系统状态</label>
                <div class="radio">
                    <label class="radio-inline">
                        <input type="radio" name="status" id="status_nomal" value="1" checked="checked" />
                        正常
                    </label>
                    <label class="radio-inline">
                        <input type="radio" name="status" id="status_disable" value="-1" />
                        禁用
                    </label>
                </div>
        </div>
        <div class="form-group">
            <label for="description" class="control-label">系统简介</label>
            <textarea id="description" name="description" class="form-control"/>
        </div>
        <br />
        <button type="button" class="btn btn-primary btn-block" onclick="doCreate()">保 存</button>

    </form>

</div>

<script type="text/javascript" th:src="@{/js/modalPage.js}"></script>

<script>
    function doCreate(){
        $.ajax({
            type: 'post',
            url: '/system/create',
            data: $('#createForm').serialize(),
            success: function(result) {
                if (result.status != 0) {
                    failHandler(result);
                } else {
                    successConfirm();
                    closeModal();
                }
            },
            error: errorHandler
        });
    }
</script>
</body>
</html>