<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<div th:fragment="header">
    <div class="logo">
        <a href="http://www.jbone.cn/" class="logo-img" title="Jbone"></a>
        <h1 class="logo-title">个人中心</h1>
    </div>

    <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">
                    Jbone
                </a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li><a href="#">QQ交流群: 547104190</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><p class="navbar-text" th:text="'欢迎你：' + ${user.username}">登录名</p></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">我要进入&gt;&gt; <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="http://jbone-sys-admin.majunwei.com:20002/">系统管理</a></li>
                            <li><a href="http://jbone-tag-admin.majunwei.com:40002/">标签管理</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="http://jbone-sm-admin.majunwei.com:10002/">服务管理系统</a></li>
                            <li><a href="http://jbone-sm-monitor.majunwei.com:10003/">调用链追踪系统</a></li>
                            <li><a href="http://jbone-sm-register.majunwei.com:10001/">服务注册中心</a></li>
                            <li role="separator" class="divider"></li>
                            <li><a href="http://jbone-cas-manager.majunwei.com:30002/">服务授权系统</a></li>
                        </ul>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>
</body>
</html>