<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Title</title>
</head>
<body>
<div th:fragment="left">
    <div class="panel panel-default">
        <div class="panel-body">
            <h3>基本信息</h3>
            <div class="list-group">
                <a href="#" class="list-group-item">
                    修改个人信息
                </a>
            </div>
            <h3>安全</h3>
            <div class="list-group">
                <a href="#" class="list-group-item">
                    修改密码
                </a>
                <a href="#" class="list-group-item">
                    设置密保问题
                </a>
            </div>
        </div>
    </div>
</div>


</body>
</html>