<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <title>Jbone | 个人中心</title>
  <!-- Tell the browser to be responsive to screen width -->
  <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport" />
  <div th:replace="/layout/css :: #css"></div>



  <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon" />

</head>
<body>
  <div class="row">
      <div th:replace="layout/header"></div>
  </div>
  <div class="row container-fluid">
    <div class="col-md-3">
      <div th:replace="layout/left"></div>
    </div>
    <div class="col-md-9 main-container">
      <div class="panel panel-default profile">
        <div class="panel-body">
          <div class="media">
            <div class="media-left">
              <a href="#">
                <img class="media-object" th:src="${user.avatar}" />
              </a>
            </div>
            <div class="media-body">
              <h4 class="media-heading" th:text="${user.username}"></h4>
              <p th:text="'真实名字：' + ${user.realname}"></p>
              <p th:text="'电话：' + ${user.phone}"></p>
              <p th:text="'邮箱：' + ${user.email}"></p>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

    <div th:replace="layout/footer"></div>

  <div th:replace="/layout/js :: #js"></div>

</body>
</html>

