<configuration scan="true" scanPeriod="60 seconds" debug="false">
    <!-- 定义日志文件 输入位置 -->
    <property name="appName" value="jbone-cms-server" />
    <property name="logger.root" value="${loggerRoot}" />
    <property name="log.root" value="${logger.root}/logs/${appName}" />
    <appender name="ROOT-APPENDER" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>${log.root}/${appName}.log</file>
        <append>true</append>
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <FileNamePattern>${log.root}/${appName}.log.%d{yyyy-MM-dd}</FileNamePattern>
            <MaxHistory>7</MaxHistory>
        </rollingPolicy>
        <encoder>
            <pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level[%thread]%logger{56}.%method:%L -%msg%n</pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>

    <appender name="stdout" class="ch.qos.logback.core.ConsoleAppender">
        <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
            <Pattern>%date{yyyy-MM-dd HH:mm:ss.SSS} %-5level[%thread]%logger{56}.%method:%L -%msg%n</Pattern>
            <charset class="java.nio.charset.Charset">UTF-8</charset>
        </encoder>
    </appender>


    <logger name="cn.jbone" level="info" additivity="false">
        <appender-ref ref="ROOT-APPENDER"/>
        <appender-ref ref="stdout"/>
    </logger>
    <logger name="org.springframework" level="info" additivity="false">
        <appender-ref ref="ROOT-APPENDER"/>
        <appender-ref ref="stdout"/>
    </logger>

    <root level="info">
        <appender-ref ref="ROOT-APPENDER"/>
        <appender-ref ref="stdout"/>
    </root>
</configuration>