.nav-tabs-custom>.nav-tabs>li.active{
    border-bottom-color: #3c8dbc;
}

.nav-tabs-custom>.nav-tabs>li{
    border-top: 0px;
    border-bottom: 3px solid transparent;
}

.nav-header{
    padding: 0px;
}

.nav-content{
    padding: 0px;
}

.nav-header .nav-tabs-custom{
    margin-bottom: 0px;
}

.nav-tabs-content{
    margin: 0px;
}

.menuContent{
    display:none;
    position: absolute;
    z-index: 9999;
    background-color: aliceblue;
    border: 1px solid #3c8dbc;
    min-height: 50px;
}

iframe#main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 50px;
}
.centered-modal.in {
    display: flex !important;
    padding: 0 !important;
}
.modal-dialog{
    margin: auto;
    padding: 0;
}
.modal-content {
    height: 100%;
    width: 100%;
    display: table;
    padding: 0px;
}
.modal-body {
    height: 100%;
    width: 100%;
    /*display: table-row;*/
}
#modal-iframe {
    height: 100%;
    width: 100%;
}


.modal-form{
    width: 100%;
}

.modal-form .form-group{
    margin-bottom: 5px;
    display: table;
    position: relative;
    border-collapse: separate;
    width: 100%;
}
.modal-form .form-group col-sm-3{
    width: 30%;
}

.modal-form .form-group col-sm-4{
    width: 40%;
}


.modal-form .form-group .form-control {
    position: relative;
    z-index: 2;
    float: left;
    width: 100%;
    margin-bottom: 0;
    display: table-cell;
}

.modal-form .form-group .control-label {
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1;
    color: #555;
    text-align: left;
    display: table-cell;
    white-space: nowrap;
    vertical-align: middle;
    width: 30%;
}

.dispersion{
    margin-right: 5px;
}


.logo {
    margin-left: 35px;
    font-size: 0;
    height: 115px;
    line-height: 115px;
}

.logo-img{
    width:127px;
    height:66px;
    display:inline-block;
    vertical-align:middle;
    margin-right:26px;
    background: url(../images/logo.png) no-repeat;
    background-size:100% 100%;
    -moz-background-size:100% 100%;
}

.logo-title{
    vertical-align:middle;
    display:inline-block;
    padding-left:25px;
    line-height:64px;
    border-left:1px solid #888;
    font-size:26px;
    font-weight:400;
    color:#888
}

.main-container .profile .media-object{
    width: 130px;
    height: 130px;
}
.main-container .profile{

}