<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" layout:decorate="~{layout}">

<head>
    <title th:text="#{cas.login.pagetitle}"></title>
    <link rel="icon" th:href="@{/favicon.ico}" type="image/x-icon"/>
</head>

<body id="cas" class="login">
        <div layout:fragment="content">
            <div class="logo">
                <a href="http://www.jbone.cn/" class="logo-img" title="Jbone"></a>
                <h1 class="login-title">单点登录</h1>
            </div>
            <div class="login-content">
                <div class="row">
                    <div id="notices" class="col-sm-12 col-md-6">
                        <!--<div th:replace="fragments/insecure"/>-->
                        <div th:replace="fragments/defaultauthn"/>
                        <!-- <div th:replace="fragments/cookies"/> -->
                        <div th:replace="fragments/serviceui"/>
                        <!--<div th:replace="fragments/cas-resources-list" />-->
                        <!--<div th:replace="fragments/loginProviders" />-->
                    </div>

                    <div class="col-sm-12 col-md-6">
                        <div th:replace="fragments/loginform" />
                    </div>

                </div>
            </div>
        </div>

</body>
</html>
