<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>JS</title>
</head>
<body>
<div th:fragment="css">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,400,300,500,600,700" rel="stylesheet">
    <!--
    CSS
    ============================================= -->
    <link rel="stylesheet" th:href="@{/default/css/linearicons.css}" />
    <link rel="stylesheet" th:href="@{/default/css/font-awesome.min.css}" />
    <link rel="stylesheet" th:href="@{/default/css/bootstrap.css}" />
    <link rel="stylesheet" th:href="@{/default/css/magnific-popup.css}" />
    <link rel="stylesheet" th:href="@{/default/css/nice-select.css}" />
    <link rel="stylesheet" th:href="@{/default/css/animate.min.css}" />
    <link rel="stylesheet" th:href="@{/default/css/owl.carousel.css}" />
    <link rel="stylesheet" th:href="@{/default/css/bootstrap-treeview.min.css}" />
    <link rel="stylesheet" th:href="@{/default/css/main.css}" />
    <!--<link rel="stylesheet" th:href="@{/js/vendor/highlight/highlight.min.css}" />-->

    <link rel="stylesheet"
          href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/styles/default.min.css">
</div>
</body>
</html>
