<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<div th:fragment="footer">
    <!-- start footer Area -->
    <footer class="footer-area section-gap">
        <div class="container">
            <div class="row">
                <div class="col-lg-5 col-md-6 col-sm-6">
                    <div class="single-footer-widget">
                        <h4>关于我</h4>
                        <p  th:text="${settings.aboutme}">

                        </p>
                        <p class="footer-text" th:text="${settings.copyright}"></p>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6 col-sm-6">
                    <div class="single-footer-widget tag-cloud-widget">
                        <h4>友情链接</h4>
                        <ul>
                            <li th:each="link,linkStat : ${links}">
                                <a th:href="${link.url}" th:text="${link.title}" target="_blank">链接名</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-6 col-sm-6 social-widget">
                    <div class="single-footer-widget">
                        <h4>联系我</h4>
                        <div class="footer-social d-flex align-items-center">
                            <a th:href="${settings.contact_github}"><i class="fa fa-github"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </footer>
</div>
</body>
</html>