<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org" xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
    <meta charset="UTF-8" />
    <title>Title</title>
</head>
<body>
<header id="header" class="parent-active" th:fragment="header">
        <div class="container main-menu parent-active">
            <div class="row align-items-center justify-content-between d-flex parent-active">
                <div id="logo">
                    <a href="/" th:text="${settings.brand}">Brand</a>
                </div>
                <nav id="nav-menu-container" class="parent-active">
                    <ul class="nav-menu sf-js-enabled sf-arrows parent-active" style="touch-action: pan-y;">
                        <li th:each="menu,menuStat : ${menus}" th:class="${#lists.isEmpty(menu.children)}? '' : 'menu-has-children'">
                            <a th:if="${#lists.isEmpty(menu.children) && menu.url == ''}" th:href="@{/category/{menuCode}(menuCode=${menu.code})}"  th:text="${menu.title}">菜单标题</a>
                            <a th:if="${#lists.isEmpty(menu.children) && menu.url != ''}" th:href="${menu.url}" th:target="${menu.target}"  th:text="${menu.title}">菜单标题</a>
                            <a th:if="${not #lists.isEmpty(menu.children) && menu.url == ''}" th:href="@{/category/{menuCode}(menuCode=${menu.code})}" th:text="${menu.title}" class="sf-with-ul">菜单标题</a>
                            <a th:if="${not #lists.isEmpty(menu.children) && menu.url != ''}" th:href="${menu.url}" th:target="${menu.target}" th:text="${menu.title}" class="sf-with-ul">菜单标题</a>

                            <ul style="display: none;" th:if="${not #lists.isEmpty(menu.children)}">
                                <li th:each="submenu,submenuStat : ${menu.children}">
                                    <a th:href="@{/category/{menuCode}(menuCode=${submenu.code})}" th:if="${submenu.url == ''}" th:text="${submenu.title}">菜单标题</a>
                                    <a th:href="${submenu.url}" th:target="${submenu.target}" th:if="${submenu.url != ''}" th:text="${submenu.title}">菜单标题</a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav><!-- #nav-menu-container -->
            </div>
        </div>

</header>
</body>
</html>
