<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>JS</title>
</head>
<body>
<div th:fragment="js">
    <script th:src="@{/default/js/vendor/jquery-2.2.4.min.js}"></script>
    <script th:src="@{/default/js/popper.min.js}"></script>
    <script th:src="@{/default/js/vendor/bootstrap.min.js}"></script>
    <script th:src="@{/default/js/vendor/bootstrap-treeview.min.js}"></script>
    <script th:src="@{/default/js/easing.min.js}"></script>
    <script th:src="@{/default/js/hoverIntent.js}"></script>
    <script th:src="@{/default/js/superfish.min.js}"></script>
    <script th:src="@{/default/js/jquery.ajaxchimp.min.js}"></script>
    <script th:src="@{/default/js/jquery.magnific-popup.min.js}"></script>
    <script th:src="@{/default/js/jquery.tabs.min.js}"></script>
    <script th:src="@{/default/js/jquery.nice-select.min.js}"></script>
    <script th:src="@{/default/js/isotope.pkgd.min.js}"></script>
    <script th:src="@{/default/js/waypoints.min.js}"></script>
    <script th:src="@{/default/js/jquery.counterup.min.js}"></script>
    <script th:src="@{/default/js/simple-skillbar.js}"></script>
    <script th:src="@{/default/js/owl.carousel.min.js}"></script>
    <script th:src="@{/default/js/mail-script.js}"></script>
    <script th:src="@{/default/js/main.js}"></script>
    <!--<script th:src="@{/js/vendor/highlight/highlight.min.js}"></script>-->



    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.15.6/highlight.min.js"></script>


    <script th:src="@{/default/js/common.js}"></script>
</div>
</body>
</html>
