.nav-tabs-custom>.nav-tabs>li.active{
    border-bottom-color: #3c8dbc;
}

.nav-tabs-custom>.nav-tabs>li{
    border-top: 0px;
    border-bottom: 3px solid transparent;
}

.nav-header{
    padding: 0px;
}

.nav-content{
    padding: 0px;
}

.nav-header .nav-tabs-custom{
    margin-bottom: 0px;
}

.nav-tabs-content{
    margin: 0px;
}

iframe#main {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding-top: 50px;
}
.centered-modal.in {
    display: flex !important;
    padding: 0 !important;
}
.modal-dialog{
    margin: auto;
    padding: 0;
}
.modal-content {
    height: 100%;
    width: 100%;
    display: table;
    padding: 0px;
}
.modal-body {
    height: 100%;
    width: 100%;
    /*display: table-row;*/
}
#modal-iframe {
    height: 100%;
    width: 100%;
}

.modal-form .form-group{
    margin-bottom: 5px;
}