<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>

	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
    <title>BizCraft - Responsive Html5 Template</title>
    <meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Favicons
	================================================== -->
	<link rel="icon" th:href="@{/project/img/favicon/favicon-32x32.png}" type="image/x-icon" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/project/img/favicon/favicon-144x144.png}">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/project/img/favicon/favicon-72x72.png}">
	<link rel="apple-touch-icon-precomposed" th:href="@{/project/img/favicon/favicon-54x54.png}">


</head>

<body>
<div th:replace="/project/layout/css :: css"></div>
	<div class="body-inner">
	<!-- Header start -->
		<header id="header" class="navbar-fixed-top header" role="banner" th:replace="/project/layout/header :: header"></header>

	<div id="banner-area">
		<img th:src="@{/project/images/banner/banner2.jpg}" alt ="" />
		<div class="parallax-overlay"></div>
			<!-- Subpage title start -->
			<div class="banner-title-content">
	        	<div class="text-center">
		        	<h2>Blog With Right Side</h2>
		        	<ul class="breadcrumb">
			            <li>Home</li>
			            <li>Blog</li>
			            <li><a href="#"> Blog With Right Side</a></li>
		          	</ul>
	          	</div>
          	</div><!-- Subpage title end -->
	</div><!-- Banner area end -->

	<!-- Blog details page start -->
	<section id="main-container">
		<div class="container">
			<div class="row">

				<!-- Blog start -->
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

					<!-- 1st post start -->
					<div class="post">
						<!-- post image start -->
						<div class="post-image-wrapper">
							<img th:src="@{/project/images/blog/blog1.jpg}" class="img-responsive"  alt="" />
							<span class="blog-date"><a href="#"> May 03, 2015</a></span>
						</div><!-- post image end -->
						<div class="post-header clearfix">
							<h2 class="post-title">
								<a href="blog-item.html">Over the year we have lots of experience</a>
							</h2>
							<div class="post-meta">
								<span class="post-meta-author">Posted by <a href="#"> Admin</a></span>
								<span class="post-meta-cats">in <a href="#"> News</a></span>
								<div class="pull-right">

									<span class="post-meta-comments"><a href="#"><i class="fa fa-comment-o"></i> 11</a></span>
									<span class="post-meta-hits"><a href="#"><i class="fa fa-heart-o"></i> 62</a></span>
								</div>

							</div><!-- post meta end -->
						</div><!-- post heading end -->
						<div class="post-body">
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle dolor sit amet.</p>
						</div>
						<div class="post-footer">
							<a href="blog-item.html" class="btn btn-primary">Continue Reading <i class="fa fa-angle-double-right">&nbsp;</i></a>
						</div>
					</div><!-- 1st post end -->

					<!-- 2nd post start -->
					<div class="post">
						<!-- post image start -->
						<div class="post-image-wrapper">
							<div class="video-embed">
								<!-- Change the url -->
								<iframe src="//player.vimeo.com/video/72266001?title=0&amp;byline=0&amp;portrait=0&amp;color=8aba56" width="500" height="281" allowfullscreen></iframe>
							</div>
							<span class="blog-date"><a href="#"> May 19, 2015</a></span>
						</div><!-- post image end -->
						<div class="post-header clearfix">
							<h2 class="post-title">
								<a href="blog-item.html">Dolorem animi nisi autem blanditiis</a>
							</h2>
							<div class="post-meta">
								<span class="post-meta-author">Posted by <a href="#"> Admin</a></span>
								<span class="post-meta-cats">in <a href="#"> News</a></span>
								<div class="pull-right">

									<span class="post-meta-comments"><a href="#"><i class="fa fa-comment-o"></i> 11</a></span>
									<span class="post-meta-hits"><a href="#"><i class="fa fa-heart-o"></i> 62</a></span>
								</div>

							</div><!-- post meta end -->
						</div><!-- post heading end -->
						<div class="post-body">
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle dolor sit amet.</p>
						</div>
						<div class="post-footer">
							<a href="blog-item.html" class="btn btn-primary">Continue Reading <i class="fa fa-angle-double-right">&nbsp;</i></a>
						</div>
					</div><!-- 2nd post end -->

					<!-- 3rd post start -->
					<div class="post">
						<!-- post image start -->
						<div class="post-image-wrapper">
							<img th:src="@{/project/images/blog/blog2.jpg}" class="img-responsive"  alt="" />
							<span class="blog-date"><a href="#"> May 23, 2015</a></span>
						</div><!-- post image end -->
						<div class="post-header clearfix">
							<h2 class="post-title">
								<a href="blog-item.html">Many web sites still in their infancy</a>
							</h2>
							<div class="post-meta">
								<span class="post-meta-author">Posted by <a href="#"> Admin</a></span>
								<span class="post-meta-cats">in <a href="#"> News</a></span>
								<div class="pull-right">

									<span class="post-meta-comments"><a href="#"><i class="fa fa-comment-o"></i> 11</a></span>
									<span class="post-meta-hits"><a href="#"><i class="fa fa-heart-o"></i> 62</a></span>
								</div>

							</div><!-- post meta end -->
						</div><!-- post heading end -->
						<div class="post-body">
							<p>There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don’t look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn’t anything embarrassing hidden in the middle dolor sit amet.</p>
						</div>
						<div class="post-footer">
							<a href="blog-item.html" class="btn btn-primary">Continue Reading <i class="fa fa-angle-double-right">&nbsp;</i></a>
						</div>
					</div><!-- 3rd post end -->

					<div class="paging">
			            <ul class="pagination">
			              <li><a href="#"><i class="fa fa-angle-left"></i></a></li>
			              <li class="active"><a href="#">1</a></li>
			              <li><a href="#">2</a></li>
			              <li><a href="#">3</a></li>
			              <li><a href="#">4</a></li>
			              <li><a href="#">5</a></li>
			              <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
			            </ul>
		          	</div>



				</div><!--/ Content col end -->

				<!-- sidebar start -->
				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">

					<div class="sidebar sidebar-right">

						<!-- Blog search start -->
						<div class="widget widget-search">
							<h3 class="widget-title">Search</h3>
							<div id="search">
								<input class="form-control form-control-lg" placeholder="search" type="search">
							</div>
						</div><!-- Blog search end -->

						<!-- Tab widget start-->
						<div class="widget widget-tab">
							<ul class="nav nav-tabs">
				              <li class="active"><a href="#popular-tab" data-toggle="tab">popular</a></li>
				              <li class=""><a href="#recent-tab" data-toggle="tab">recent</a></li>
				              <li class=""><a href="#comments-tab" data-toggle="tab">comments</a></li>
				            </ul>
				            <div class="tab-content">
				            	<div class="tab-pane active" id="popular-tab">
					                <ul class="posts-list unstyled clearfix">
					                  <li>
					                    <div class="posts-thumb pull-left">
					                    	<a href="#">
					                    		<img alt="img" th:src="@{/project/images/blog/blog1.jpg}">
					                    	</a>
					                    </div>
					                    <div class="post-content">
					                        <h4 class="entry-title"><a href="#">Bulgaria claims to find Europe's 'oldest town'</a>
					                        </h4>
					                        <p class="post-meta">
												<span class="post-meta-author">Posted by <a href="#"> Admin</a></span>
												<span class="post-meta-date"><a href="#"> <i class="fa fa-clock-o"></i> November 14</a>
												</span>
											</p>
					                    </div>
					                    <div class="clearfix"></div>
					                  </li><!-- First post end-->
					                  <li>
					                    <div class="posts-thumb pull-left">
					                    	<a href="#">
					                    		<img alt="img" th:src="@{/project/images/blog/blog2.jpg}">
					                    	</a>
					                    </div>
					                    <div class="post-content">
					                        <h4 class="entry-title">
					                        	<a href="#">Lorem ipsum dolor sit amet, consectetur claims</a>
					                        </h4>
					                        <p class="post-meta">
												<span class="post-meta-author">Posted by <a href="#"> Admin</a></span>
												<span class="post-meta-date"><a href="#"> <i class="fa fa-clock-o"></i> October 19</a>
												</span>
											</p>
					                    </div>
					                    <div class="clearfix"></div>
					                  </li><!-- 2nd post end-->
					                  <li>
					                    <div class="posts-thumb pull-left">
					                    	<a href="#">
					                    		<img alt="img" th:src="@{/project/images/blog/blog3.jpg}">
					                    	</a>
					                    </div>
					                    <div class="post-content">
					                        <h4 class="entry-title">
					                        	<a href="#">Should You Ever Skip Giving A Tip?</a>
					                        </h4>
					                       <p class="post-meta">
												<span class="post-meta-author">Posted by <a href="#"> Admin</a></span>
												<span class="post-meta-date"><a href="#"> <i class="fa fa-clock-o"></i> November 21</a>
												</span>
											</p>
					                    </div>
					                    <div class="clearfix"></div>
					                  </li><!-- 3rd post end-->
					                </ul>
					            </div><!-- Popular tabpan end -->

					            <div class="tab-pane" id="recent-tab">
					                <ul class="posts-list unstyled clearfix">
					                  <li>
					                    <div class="posts-thumb pull-left">
					                    	<a href="#">
					                    		<img alt="img" th:src="@{/project/images/blog/blog3.jpg}">
					                    	</a>
					                    </div>
					                    <div class="post-content">
					                        <h4 class="entry-title"><a href="#">Bulgaria claims to find Europe's 'oldest town'</a>
					                        </h4>
					                        <p class="post-meta">
												<span class="post-meta-author">Posted by <a href="#"> Admin</a></span>
												<span class="post-meta-date"><a href="#"> <i class="fa fa-clock-o"></i> November 21</a>
												</span>
											</p>
					                    </div>
					                    <div class="clearfix"></div>
					                  </li><!-- First post end-->
					                  <li>
					                    <div class="posts-thumb pull-left">
					                    	<a href="#">
					                    		<img alt="img" th:src="@{/project/images/blog/blog1.jpg}">
					                    	</a>
					                    </div>
					                    <div class="post-content">
					                        <h4 class="entry-title"><a href="#">Bulgaria claims to find Europe's 'oldest town'</a>
					                        </h4>
					                        <p class="post-meta">
												<span class="post-meta-author">Posted by <a href="#"> Admin</a></span>
												<span class="post-meta-date"><a href="#"> <i class="fa fa-clock-o"></i> October 19</a>
												</span>
											</p>
					                    </div>
					                    <div class="clearfix"></div>
					                  </li><!-- 2nd post end-->
					                </ul>
					            </div><!-- Recent tabpan end -->

					            <div class="tab-pane" id="comments-tab">
					                <ul class="posts-list unstyled clearfix">
					                  <li>
					                    <div class="posts-avator pull-left">
					                    	<a href="#">
					                    		<img alt="img" th:src="@{/project/images/blog/avator1.png}">
					                    	</a>
					                    </div>
					                    <div class="post-content">
					                        <h4 class="entry-title"><a href="#">If you are going to use a passage  of Lorem Ipsum</a>
					                        </h4>
					                        <p class="post-meta">
												<span class="post-meta-author">Posted by <a href="#"> John</a></span>
												<span class="post-meta-date"><a href="#"> <i class="fa fa-clock-o"></i> November 21</a>
												</span>
											</p>
					                    </div>
					                    <div class="clearfix"></div>
					                  </li><!-- First post end-->
					                  <li>
					                    <div class="posts-avator pull-left">
					                    	<a href="#">
					                    		<img alt="img" th:src="@{/project/images/blog/avator2.jpg}">
					                    	</a>
					                    </div>
					                    <div class="post-content">
					                        <h4 class="entry-title"><a href="#">you need to be sure there isn’t anything embarra</a>
					                        </h4>
					                        <p class="post-meta">
												<span class="post-meta-author">Posted by <a href="#"> Tina</a></span>
												<span class="post-meta-date"><a href="#"> <i class="fa fa-clock-o"></i> October 18</a>
												</span>
											</p>
					                    </div>
					                    <div class="clearfix"></div>
					                  </li><!-- 2nd post end-->
					                </ul>
					            </div><!-- Comment tabpan end -->
				            </div><!-- Tab content end -->
						</div><!-- Tab widget end-->

						<!-- Blog category start -->
						<div class="widget widget-categories">
							<h3 class="widget-title">Blog Categories</h3>
							<ul class="category-list clearfix">
				              <li><a href="#">Objects</a><span class="posts-count"> (19)</span></li>
				              <li><a href="#">Technology</a><span class="posts-count"> (09)</span></li>
				              <li><a href="#">Photography</a><span class="posts-count"> (13)</span></li>
				              <li><a href="#">Fashion</a><span class="posts-count"> (10)</span></li>
				              <li><a href="#">Realtough</a><span class="posts-count"> (14)</span></li>
				              <li><a href="#">Architecture</a><span class="posts-count"> (11)</span></li>
				            </ul>
						</div><!-- Blog category end -->

						<!-- Blog tags start -->
						<div class="widget widget-tags">
							<h3 class="widget-title">Popular Tags</h3>
							<ul class="unstyled clearfix">
				              	<li><a href="#">iMac</a></li>
				              	<li><a href="#">Black and Green</a></li>
				              	<li><a href="#">Crative</a></li>
				              	<li><a href="#">Momentum</a></li>
				              	<li><a href="#">Business</a></li>
				              	<li><a href="#">Cellular</a></li>
				              	<li><a href="#">Niche</a></li>
				            </ul>
						</div><!-- Blog tags end -->

						<!-- Blog tags start -->
						<div class="widget">
							<h3 class="widget-title">Text Widgets</h3>
							<p>It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normalopposed.</p>
						</div><!-- Text widget end -->

					</div><!-- sidebar end -->
				</div>
    		</div><!--/ row end -->
		</div><!--/ container end -->
	</section><!-- Blog details page end -->


	<div class="gap-40"></div>

		<footer id="footer" class="footer" th:replace="/project/layout/footer :: footer"></footer>


		<section id="copyright" class="copyright angle" th:replace="/project/layout/footer :: copyright"></section>

		<div th:replace="/project/layout/js :: js"></div>
	</div><!-- Body inner end -->
</body>
</html>
