<!DOCTYPE html>
<html lang="zh-cn" xmlns:th="http://www.thymeleaf.org">
<head>

	<!-- Basic Page Needs
	================================================== -->
	<meta charset="utf-8">
    <title>BizCraft - Responsive Html5 Template</title>
    <meta name="description" content="">
	<meta name="author" content="">

	<!-- Mobile Specific Metas
	================================================== -->
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

	<!-- Favicons
	================================================== -->
	<link rel="icon" th:href="@{/project/img/favicon/favicon-32x32.png}" type="image/x-icon" />
	<link rel="apple-touch-icon-precomposed" sizes="144x144" th:href="@{/project/img/favicon/favicon-144x144.png}">
	<link rel="apple-touch-icon-precomposed" sizes="72x72" th:href="@{/project/img/favicon/favicon-72x72.png}">
	<link rel="apple-touch-icon-precomposed" th:href="@{/project/img/favicon/favicon-54x54.png}">


</head>

<body>
<div th:replace="/project/layout/css :: css"></div>
	<div class="body-inner">
	<!-- Header start -->
		<header id="header" class="navbar-fixed-top header" role="banner" th:replace="/project/layout/header :: header"></header>

	<div id="banner-area">
		<img th:src="@{/project/images/banner/banner2.jpg}" alt ="" />
		<div class="parallax-overlay"></div>
			<!-- Subpage title start -->
			<div class="banner-title-content">
	        	<div class="text-center">
		        	<h2>Jobs Openings</h2>
		        	<ul class="breadcrumb">
			            <li>Home</li>
			            <li>Company</li>
			            <li><a href="#"> Jobs</a></li>
		          	</ul>
	          	</div>
          	</div><!-- Subpage title end -->
	</div><!-- Banner area end -->

	<!-- Main container start -->

	<section id="main-container">
		<div class="container">
			<div class="row">
				<div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">

					<h3 class="title-border">Senior Manager</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, natus voluptatibus adipisci porro magni dolore eos eius ducimus corporis quos perspiciatis quis iste, vitae autem libero ullam omnis cupiditate quam.</p>

					<div class="panel-group" id="accordionA">
		              	<div class="panel panel-default">
			                <div class="panel-heading">
				                <h4 class="panel-title">
				                	<a data-toggle="collapse" data-parent="#accordionA, #accordionB" href="#collapseOne">Job Requirements</a>
				                </h4>
			                </div>
			                <div id="collapseOne" class="panel-collapse collapse in">
			                  <div class="panel-body">
			                    <ul class="unstyled arrow">
									<li>B.Sc. from any reputed university</li>
									<li>MBA in Marketing from any reputed university is very much desired</li>
									<li>Two (02) years of experience in Software Company is an advantage.</li>
									<li>Experience as Business Analyst will be an added advantage</li>
									<li>Manage and execute lead generation activities.</li>
									<li>Help building marketing strategy, tool and approach by thorough research</li>
								</ul>
			                  </div>
			                </div>
		              	</div><!--/ Panel 1 end-->

		              	<div class="panel panel-default">
			                <div class="panel-heading">
				                <h4 class="panel-title">
				                	<a data-toggle="collapse" class="collapsed" data-parent="#accordionA, #accordionB" href="#collapseTwo"> Job Responsibilities</a>
				            	</h4>
			                </div>
			                <div id="collapseTwo" class="panel-collapse collapse">
			                  <div class="panel-body">
			                    <ul class="unstyled arrow">
									<li>Global Business Development &amp; Strategic Account Management</li>
									<li>Marketing Research</li>
									<li>Marketing Collaterals development</li>
									<li>Business Analysis</li>
									<li>Manage and execute lead generation activities.</li>
									<li>Help building marketing strategy, tool and approach by thorough research</li>
								</ul>
			                  </div>
			                </div>
		              	</div><!--/ Panel 2 end-->


		              	<div class="panel panel-default">
			                <div class="panel-heading">
				                <h4 class="panel-title">
				                	<a data-toggle="collapse" class="collapsed" data-parent="#accordionA, #accordionB" href="#collapseThree"> What’s in it for you?</a>
				            	</h4>
			                </div>
			                <div id="collapseThree" class="panel-collapse collapse">
			                  <div class="panel-body">
			                    <ul class="unstyled arrow">
									<li>Very Competitive Salary and Long Term Benefits with Excellent Career Opportunity in a Focused &amp; Stable organization.</li>
									<li>Training on new technology.</li>
									<li>Overseas Tour with Opportunity to work with Global Companies.</li>
									<li>Most importantly a friendly work environment with opportunity to learn from a number of highly skilled mentors.</li>
								</ul>
			                  </div>
			                </div>
		              	</div><!--/ Panel 3 end-->

		              	<div class="gap-20"></div>

						<p><a href="#" class="btn btn-primary solid">Apply Now <i class="fa fa-long-arrow-right"></i></a></p>

		         </div><!--/ Accordion end -->

		         <!--/ 1st career end -->

		         <div class="gap-40"></div>

		   		<h3 class="title-border">Assistent Manager (P&amp;L)</h3>
					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, natus voluptatibus adipisci porro magni dolore eos eius ducimus corporis quos perspiciatis quis iste, vitae autem libero ullam omnis cupiditate quam.</p>

					<div class="panel-group" id="accordionB">
		              	<div class="panel panel-default">
			                <div class="panel-heading">
				                <h4 class="panel-title">
				                	<a data-toggle="collapse" data-parent="#accordionA, #accordionB" href="#collapseA">Job Requirements</a>
				                </h4>
			                </div>
			                <div id="collapseA" class="panel-collapse collapse in">
			                  <div class="panel-body">
			                    <ul class="unstyled arrow">
									<li>B.Sc. from any reputed university</li>
									<li>MBA in Marketing from any reputed university is very much desired</li>
									<li>Two (02) years of experience in Software Company is an advantage.</li>
									<li>Experience as Business Analyst will be an added advantage</li>
									<li>Manage and execute lead generation activities.</li>
									<li>Help building marketing strategy, tool and approach by thorough research</li>
								</ul>
			                  </div>
			                </div>
		              	</div><!--/ Panel 1 end-->

		              	<div class="panel panel-default">
			                <div class="panel-heading">
				                <h4 class="panel-title">
				                	<a data-toggle="collapse" class="collapsed" data-parent="#accordionA, #accordionB" href="#collapseB"> Job Responsibilities</a>
				            	</h4>
			                </div>
			                <div id="collapseB" class="panel-collapse collapse">
			                  <div class="panel-body">
			                    <ul class="unstyled arrow">
									<li>Global Business Development &amp; Strategic Account Management</li>
									<li>Marketing Research</li>
									<li>Marketing Collaterals development</li>
									<li>Business Analysis</li>
									<li>Manage and execute lead generation activities.</li>
									<li>Help building marketing strategy, tool and approach by thorough research</li>
								</ul>
			                  </div>
			                </div>
		              	</div><!--/ Panel 2 end-->


		              	<div class="panel panel-default">
			                <div class="panel-heading">
				                <h4 class="panel-title">
				                	<a data-toggle="collapse" class="collapsed" data-parent="#accordionA, #accordionB" href="#collapseC"> What’s in it for you?</a>
				            	</h4>
			                </div>
			                <div id="collapseC" class="panel-collapse collapse">
			                  <div class="panel-body">
			                    <ul class="unstyled arrow">
									<li>Very Competitive Salary and Long Term Benefits with Excellent Career Opportunity in a Focused &amp; Stable organization.</li>
									<li>Training on new technology.</li>
									<li>Overseas Tour with Opportunity to work with Global Companies.</li>
									<li>Most importantly a friendly work environment with opportunity to learn from a number of highly skilled mentors.</li>
								</ul>
			                  </div>
			                </div>
		              	</div><!--/ Panel 3 end-->

		              	<div class="gap-20"></div>

						<p><a href="#" class="btn btn-primary solid">Apply Now <i class="fa fa-long-arrow-right"></i></a></p>

		            </div><!--/ Accordion end -->

				</div><!--/ Content col end -->

				<div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
					<div class="sidebar sidebar-right">
						<!-- category start -->
						<div class="widget widget-categories">
							<h3>How to Apply</h3>
							<p>Send your cv, relevant work experience and anything else that will make you stand out to career@bizcraft.com</p>
						</div><!-- category end -->

						<!-- tags start -->
						<div class="widget widget-tags">
							<h3>Why Us</h3>
							<p>We are an awward winning company. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo, natus voluptatibus adipisci porro magni dolore eos eius ducimus corporis quos perspiciatis quis iste, vitae autem libero ullam omnis cupiditate quam.</p>
						</div><!-- tags end -->


					</div><!--/ Sidebar end -->
				</div><!--/ Sidebar col end -->
			</div><!--/ row end -->
		</div><!--/ container end -->
	</section><!--/ Main container end -->

	<section class="call-to-action">
		<div class="container">
			<div class="row">
				<div class="col-sm-12">
					<h3>Join with BizCraft and Give Your Website a Brand New Look</h3>
					<a href="#" class="pull-right btn btn-primary white">Purchase Now</a>
				</div>
			</div>
		</div>
	</section>

		<footer id="footer" class="footer" th:replace="/project/layout/footer :: footer"></footer>


		<section id="copyright" class="copyright angle" th:replace="/project/layout/footer :: copyright"></section>

		<div th:replace="/project/layout/js :: js"></div>
	</div><!-- Body inner end -->
</body>
</html>
